.container{
    height: 100vh;
    font-size: 18px;
    background-color: var(--background-default);
    display: flex;
    align-items: center;
    flex-direction: column;
}

#password-lost {
    width: 544px;
}

app-language {
    margin-top: 1.5%;
}