<app-navigation-bar (navLogic)="leaveRoomLogic()"></app-navigation-bar>
<div class="container justified">
    <div class="logo">Scrabble</div>
    <h1 class="header-item text">{{ 'WAITING-ROOM.MESSAGE' | translate }}</h1>
    <div class="loading-container">
        <mat-list>
            <mat-list-item *ngFor="let player of playersInRoom; let index=index; let last=last; let first=first" class="text players">{{player}}
                <img  src="assets/avatar/{{avatarOfPlayers[index]}}" width="20" height="20">
                <img *ngIf="first" src="assets/crown.png" width="20" height="20">
                <mat-divider *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-list>
        <div [style.visibility]="(pendingRequests.length > 0) ? 'visible':'hidden'" id="join-requests">
            <h2 class="text">{{pendingRequests[0] ? pendingRequests[0][0] : ''}}{{pendingRequests[0] ? (pendingRequests[0][1] ? ('WAITING-ROOM.OBSERVE' | translate) : ('WAITING-ROOM.JOIN' | translate)) : ''}}</h2>
            <button class="button join-request" (click)="respondNextRequest(true)">{{ 'WAITING-ROOM.ACCEPT' | translate }}</button>
            <button class="button cancel join-request" (click)="respondNextRequest(false)">{{ 'WAITING-ROOM.DECLINE' | translate }}</button>
        </div>
        <div class="mode-buttons">
            <button class="button" *ngIf="isHostPlayer() && playersInRoom.length > 1" (click)="launchGame()">{{ 'WAITING-ROOM.START' | translate }}</button>
            <button class="button cancel" (click)="leaveRoom()">{{ 'WAITING-ROOM.LEAVE' | translate }}</button>
        </div>
    </div>
</div>