<div class="container justified">
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <h1 class="header-item">Salle de jeu</h1>
    <div class="loading-container">
        <mat-list>
            <mat-list-item *ngFor="let player of getPlayersInRoom(); let last=last">{{player}}
                <mat-divider *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-list>
        <div class="mode-buttons">
            <button class="button" [disabled]="true" (click)="launchGame()">Démarrer</button>
            <button class="button cancel" (click)="deleteRoom()">Quitter la salle</button>
        </div>
    </div>
    <div class="footer-item">
        <h4 class="team-name">Équipe 206</h4>
        <p>
            <span>Ioana Daria Danciu</span>, <span>Arnaud Delage-Reid</span>, <span>Manuel Ramirez-Evrard</span>, <span>Kaboungala Bintou Seni</span>,
            <span>Pablo Sepulveda Solis</span>, <span>Imane Znadi</span>
        </p>
    </div>
</div>