<div class="container justified">
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <h1 class="header-item">Salle de jeu</h1>
    <div class="loading-container">
        <mat-list>
            <mat-list-item *ngFor="let player of getPlayersInRoom(); let last=last; let first=first">{{player}}
                <img *ngIf="first" src="assets/crown.png" width="20" height="20">
                <mat-divider *ngIf="!last"></mat-divider>
            </mat-list-item>
        </mat-list>
        <div [style.visibility]="(pendingRequests.length > 0) ? 'visible':'hidden'" id="join-requests">
            <h2>{{pendingRequests[0]}} tente de se rejoindre à votre partie</h2>
            <button class="button join-request" (click)="respondNextRequest(true)">Accepter</button>
            <button class="button cancel join-request" (click)="respondNextRequest(false)">Refuser</button>
        </div>
        <div class="mode-buttons">
            <button class="button" *ngIf="isHostPlayer() && getPlayersInRoom().length > 1" (click)="launchGame()">Démarrer</button>
            <button class="button cancel" (click)="leaveRoom()">Quitter la salle</button>
        </div>
    </div>
</div>