.container {
    background-color: var(--background-default);
    height: 53%;
    padding: 10%;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin-top: 1%;
    font-family: "Shrikhand";
    font-size: 95px;
    color: var(--text-default);
}

.button {
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-primary);
    border-radius: 7px;
    width: 50vh;
    box-shadow: var(--box-shadow);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

img{
    margin-left: 8px;
    margin-bottom: 2px;
}

h2{
    margin: 0;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

#join-requests{
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin: 20px;
}

.button.join-request{
    margin: 0;
    width: 10vh;
    margin-left: 10px;
}

.header-item {
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.mode-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.mode-buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.text {
    color: var(--text-default);
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    font-weight: bold;
}

mat-list {
    background-color: var(--background-tertiary);
    box-shadow: var(--box-shadow);
    border-radius: 7px;
}