#chat-messages{
    background-color: var(--background-tertiary);
    border-radius: 20px;
    width: 72%;
    height: 95%;
    right: 1%;
    position: fixed;
}

textarea{

}

#chat-list {
    position: fixed;
    left: 1%;
    width: 25%;
    height: 95%;
    background-color: var(--background-tertiary);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#container {
    background-color: var(--background-default);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#chat-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5%;
    margin: 1%;
    border-radius: 10px;
    height: 92%;
    background-color: var(--background-quaternary);
    width: 95%;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 16px;
}

#history-container {
    white-space: pre-wrap;
    overflow: auto;
    height: 95%;
    border-radius: 7px;
    word-wrap: break-word;
    width: 100%;
    margin-bottom: 1%;
}

#input-group {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

input {
    border-radius: 5px;
    padding: 0% 2%;
    width: 100%;
    //flex-grow: 1;
    margin-right: 0.5%;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 18px;
    background-color: var(--background-secondary);
    color: var(--button-text-default);
}

input:focus {
    outline: none;
    border: solid 2px var(--accent-default);
}

button {
    font-family: 'Courier New', Courier, monospace;
    width: 10%;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-default);
    color: var(--text-primary);
}

button:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
} 

.title {
    width: 100%;
    height: 100%;
    padding-top: 2%;
    font-family: "Shrikhand";
    font-size: 40px;
    color: var(--accent-default);
    position: relative;
    right: 5%;
}

#title-tabs {
    padding-right: 3%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
    margin-top: 5%;
}

.tabs {
    color: var(--accent-default);
    font-family: "Shrikhand";
    font-size: 20px;
    padding-left: 5%;
    cursor: pointer;
}

.tabs:hover {
    color: var(--playarea-coords);
}

.active {
    color: var(--playarea-coords);
}

.chats-container {
    overflow: auto;
    height: 81%;
    position: relative;
    margin-top: 3%;
}

::-webkit-scrollbar {
    width: 2em;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--scroll-default);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}

.chat-button {
    width: 90%;
    position:relative;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 1%;
    padding-top: 5%;
    margin: 0% 5% 5%;
    background-color: var(--button-primary);
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
    cursor: pointer;
}

.chat-button:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.chat-button button.active {
    background-color: var(--button-primary-hover);
  }

.lang {
    width: 80%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
    color: var(--text-default);
}

.lang-button {
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 5px;
    margin-right: 2%;
    background-color: var(--button-quaternary);
    border-radius: 7px;
    width: 40px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.lang-button:hover {
    color: var(---button-text-hover);
    cursor: pointer;
    background: var(--button-quaternary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

