<app-navigation-bar *ngIf="!isPopup"></app-navigation-bar>
<div id="container">
    <div id="chat-list">
        <button *ngIf="!isPopup" id="popup-btn" (click)="openPopupChat()">
            <mat-icon>open_in_new</mat-icon>
        </button>
        <div id="tabs-container">
            <span class="title">Chats</span>
            <div id="title-tabs">
                <span class="tabs active" id="global" (click)="setVisibility($event, global)">{{ 'TABS.GLOBAL' | translate }}</span>
                <span class="tabs" id="public" (click)="setVisibility($event, public)">{{ 'TABS.PUBLIC' | translate }}</span>
                <span class="tabs" id="private" (click)="setVisibility($event, private)">{{ 'TABS.PRIVATE' | translate }}</span>
            </div>
        </div>
        <div class="chats-container">
            <ng-container *ngFor="let chat of chatList">
                <button class="chat-button" id="{{ chat._id }}" *ngIf="chat.chatType === visibility" (click)="selectChat($event, chat._id)" > 
                    <p class="chat-content">{{ chat.chatName }}</p>
                </button>
            </ng-container>
        </div>
        <button *ngIf="!isPopup" class="join" (click)="goToChats()">{{ 'CHATBOX.JOIN' | translate }}</button>
    </div>
    <div id="chat-messages">
        <div id="chat-box">
            <div id="history-container" #scroll #scrollMe [scrollTop]="scrollMe.scrollHeight">
                <div class="message-bubble" *ngFor="let message of chatLog">
                    <div id="name-time-avatar">
                        <img src="assets/avatar/{{message.avatar}}" height = "30" width= "30" alt="image" class="message image">
                        <span class="message username" *ngIf="message.username !== username" style="color: var(--playarea-coords)">{{ message.username }}</span>
                       <span class="message username" *ngIf="message.username === username">{{ message.username }}</span>
                       <span class="message timestamp">{{ message.timestamp }}</span> 
                    </div>
                    <p class="message content">{{ message.message }}</p>
                </div>
            </div>
            <div id="input-group">
                <input class="input" [disabled]="isDisabled" [(ngModel)]="nextMessage" (keydown.enter)="sendMessage()" placeholder="{{ 'CHATBOX.SELECT' | translate }}"/>
                <button (click)="sendMessage()">{{ 'CHATBOX.SEND' | translate}}</button>
            </div>
        </div>
    </div> 
</div>