.container {
    height: 100vh;
    font-size: 18px;
    background-color: rgb(247, 237, 223);
}

.justified {
    width: 100%;
    display: flex;
    align-items: center;

    flex-direction: column;
}

.lang {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    top: 5%;
    left: 2%;
}

.login-component{
    position:relative;
    display: flex;
    width: 544px;
    height: 658px;
}

