<mat-card class="connection-history">
    <mat-card-header id="title">
        <mat-card-title >Historique</mat-card-title>
    </mat-card-header>
    <mat-card-actions id = "buttons-change-mode">
        <button  class = "buttons" (click)="changeToConnection()">Connexions</button>
        <button  class = "buttons"(click)="changeToDisconnection()">Déconnexions</button>
      </mat-card-actions>
    <div *ngIf="connectionMode === true">
    <mat-card-content *ngFor = "let connection of connectionHistory.connections" class="connection-content">
        <p  >Date : {{connection.date}}  Heure : {{connection.time}}</p>
    </mat-card-content>
    </div>
    <div *ngIf="connectionMode === false">
    <mat-card-content *ngFor = "let disconnection of connectionHistory.disconnections" class="connection-content">
        <p >Date : {{disconnection.date}}  Heure : {{disconnection.time}}</p>
    </mat-card-content>
    </div>

</mat-card>
