.container {
    height: 87%;
    background-color: var(--background-default);
    padding-top: 3.4%;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.button {
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-primary);
    border-radius: 7px;
    width: 50vh;
    box-shadow: var(--box-shadow);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button:hover:enabled {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.header-item {
    justify-content: center;
    text-align: center;
}

.mode-buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo {
    margin-top: 4%;
    font-family: "Shrikhand";
    font-size: 95px;
    color: var(--text-default);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-default);
    font-weight: bold;
}