// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@use './app/pages/material-page/material-page.component.theme' as material-page;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$indigo-pink-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$indigo-palette),
            accent: mat.define-palette(mat.$pink-palette, A200, A100, A400),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($indigo-pink-theme);
@include material-page.theme($indigo-pink-theme);



.deeppurple-amber-theme {
    $deeppurple-amber-theme: mat.define-light-theme(
        (
            color: (
                primary: mat.define-palette(mat.$deep-purple-palette),
                accent: mat.define-palette(mat.$amber-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($deeppurple-amber-theme);
    @include material-page.theme($deeppurple-amber-theme);
}

.pink-bluegrey-theme {
    $pink-bluegrey-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$pink-palette, 700, 500, 900),
                accent: mat.define-palette(mat.$blue-grey-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($pink-bluegrey-theme);
    @include material-page.theme($pink-bluegrey-theme);
}

.purple-green-theme {
    $purple-green-theme: mat.define-dark-theme(
        (
            color: (
                primary: mat.define-palette(mat.$purple-palette, 700, 500, 800),
                accent: mat.define-palette(mat.$green-palette, A200, A100, A400),
            ),
        )
    );
    @include mat.all-component-colors($purple-green-theme);
    @include material-page.theme($purple-green-theme);
}

/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

html{
    background: var(--background-default);
}

html,
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    /* Colors */
    --accent-default: #cb654f;
    --playarea-motx2: #d3b1a7;
    --playarea-motx3: #cb654f;
    --playarea-letterx2: #8cbea3;
    --playarea-letterx3: #679089;
    --playarea-coords: #520000;
    --playarea-background: white;
    --playarea-grid: black;

    --background-default: #f7eddf;
    --background-secondary: #fffbfb;
    --background-tertiary: #d7e0cd;
    --background-quaternary: #faf5f1;

    --text-default: black;
    --text-secondary: #001d7e;
    --input-highlight: #cfd8c4;

    --button-text-default: #5e5e5e;
    --button-text-hover: black;

    --button-primary: #cce0b7;
    --button-primary-hover: #bacc7a;

    --button-secondary: #d3b1a7;
    --button-secondary-hover: #ce8975;

    --button-tertiary: #a5c2b2;
    --button-tertiary-hover: #8cbea3;

    --button-quaternary: #cfcb9c;
    --button-quaternary-hover: #cea261;

    --scroll-default: #8cbea3;
    --scroll-background: #f1f1f1;
    --scroll-hover: #cb654f;

    --tile-on-board: #cfcb9c;
    --tile-on-holder: #ECE7DD;

    --box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
}
