.container {
    height: 610px;
    width: 400px;
    margin-top: 7%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-quaternary);
    flex-direction: column;
    box-shadow: var(--box-shadow);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 16px;
}

.inner-container {
    overflow: auto;
    padding: 20px;
}

#info {
    align-items: flex-start;
}

#title {
    font-size: 24px;
    margin-bottom: 10%;
}


ul.checked {
    color: var(--button-text-default);
    text-decoration: line-through;
    font-style: italic;
}

#progress-score-current {
    font-weight: bolder;
    display: block;
    margin-left: 25px;
}

#progress-score-opponant {
    font-weight: bolder;
    display: block;

    margin-left: 25px;
}

ul {
    list-style-type: none;
    margin-left: 25px;
    padding: 0;
}

.name {
    font-size: 19px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--background-secondary);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--scroll-default);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}

