<div class="container">
    <div class="inner-container">
        <header id="title" class="centered-title">{{'INFOBOARD.INFOBOARD' | translate}}</header>
        <div id="info">
            <div *ngFor="let player of playersInfo" class="player-container" [class.player-selected]="isPlayerUser(player)">
                <span class="data"><strong>{{ player.name }}</strong></span>
                <span class="status" *ngIf="player.active">{{'INFOBOARD.TURN' | translate}}</span>
                <span class="status" *ngIf="player.winner">{{'INFOBOARD.WIN' | translate}}</span>
                <br /><br />
                <p class="data">{{'INFOBOARD.SCORE' | translate}}{{ player.currentScore }}</p>
                <p class="data" *ngIf="player.letterCount < 7">{{'INFOBOARD.LETTERSINHAND' | translate}}{{ player.letterCount }}</p>
            </div>
            <p class="data reserve-letters">{{'INFOBOARD.LETTERSLEFT' | translate}}{{ roundInfo[0].lettersRemaining }}</p>
        </div>
        <br />
        <app-timer></app-timer>
    </div>
</div>
