.container {
    height: 610px;
    width: 400px;
    margin-top: 7%;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #faf5f1;
    flex-direction: column;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 16px;
}

.inner-container {
    overflow: auto;
    padding: 20px;
}

#info {
    align-items: flex-start;
}

#title {
    font-size: 24px;
    margin-bottom: 10%;
}

#objective-subtitle {
    color: black;
    font-variant: small-caps;
    font-size: 20px;
}

#objectives {
    font-size: 14px;
    font-weight: bold;
    color: rgb(79, 139, 79);
}

#objectives-completed {
    font-size: 13px;
    color: #757272;
    font-style: italic;
}

ul.checked {
    color: #757272;
    text-decoration: line-through;
    font-style: italic;
}

#progress-score-current {
    font-weight: bolder;
    display: block;
    margin-left: 25px;
}

#progress-score-opponant {
    font-weight: bolder;
    display: block;

    margin-left: 25px;
}

ul {
    list-style-type: none;
    margin-left: 25px;
    padding: 0;
}

.name {
    font-size: 19px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #8cbea3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #cb654f;
}

.hidden-objectives {
    display: none;
}
