<div class="container">
    <h1 class="title"> Inscription</h1>
    <div *ngIf = !isFormFinished  class="form-first-step">
            <mat-form-field class="username input-field" appearance="fill">
                <mat-label >Nom d'utilisateur</mat-label>
                <input matInput name = "username" [(ngModel)]="newAccount.username" >
            </mat-form-field>
            <mat-form-field class="email input-field" appearance="fill">
                <mat-label>Email : </mat-label>
                <input  type = "email" matInput  name = "email" [(ngModel)]="newAccount.email">
            </mat-form-field>
            <mat-form-field class="pasword input-field" appearance="fill">
                <mat-label>Mot de passe : </mat-label>
                <input matInput [type]= "changePasswordVisibility()" name = "password" [(ngModel)]="newAccount.password">
                <button class = "button-sign-up" mat-icon-button matSuffix (click)="hide = !hide" >
                    <mat-icon>{{changeIconVisibility()}}</mat-icon>
                </button>
            </mat-form-field>
              <button class = "button-sign-up" mat-raised-button [disabled] = "verifyIfFirstPageFormFinished()" (click)="goToCreateQuestion()">Continue</button>
    </div>
<div *ngIf = isFormFinished class="form-first-step">
    <button class = "goToFirstStepForm"(click) = "goToCreateQuestion()" routerLink = "/sign-up" mat-fab color="primary" aria-label="Example icon button with a delete icon">
        <mat-icon>replay</mat-icon>
    </button>
        <mat-form-field class="username input-field" appearance="fill">
            <mat-label >Question de sécurité : </mat-label>
            <input matInput name = "question" [(ngModel)]="newAccount.securityQuestion" >
        </mat-form-field>
        <mat-form-field class="email input-field" appearance="fill">
            <mat-label>Réponse : </mat-label>
            <input  matInput  name = "réponse" [(ngModel)]="newAccount.securityAnswer">
        </mat-form-field>
          <button class = "button-sign-up" mat-raised-button [disabled]="verifyIfSecondPageFormFinished()" (click)="createNewAccount()">Inscription</button>
</div>
</div>   
