<div class="container">
    <form class="form">
        <h1>{{'SIGNUP.SIGNUP' | translate}}</h1>
            <mat-form-field class="username input-field" appearance="fill">
                <mat-label>{{'USERDATA.USERNAME' | translate}}</mat-label>
                <input matInput name = "username" [(ngModel)]="newAccount.username" >
            </mat-form-field>
            <mat-form-field class="email input-field" appearance="fill">
                <mat-label>{{'SIGNUP.EMAIL' | translate}}</mat-label>
                <input  type = "email" matInput  name = "email" [(ngModel)]="newAccount.email">
            </mat-form-field>
            <mat-form-field class="pasword input-field" appearance="fill">
                <mat-label>{{'USERDATA.PASSWORD' | translate}}</mat-label>
                <input matInput [type]= "changePasswordVisibility()" name = "password" [(ngModel)]="newAccount.password">
                <button title="{{'SIGNUP.SHOWPASS' | translate}}" class = "button-sign-up" mat-icon-button matSuffix (click)="hide = !hide" >
                    <mat-icon>{{changeIconVisibility()}}</mat-icon>
                </button>
            </mat-form-field>
              <button class = "button-sign-up" mat-raised-button (click)="createNewAccount()">{{'SIGNUP.CONFIRM' | translate}}</button>
    </form>
    </div>   
