#container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-tertiary);
    border-radius: 7px;
    height: 230px;
}

button {
    text-decoration: none;
    margin: 10px 0px 15px 0px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-primary);
    border-radius: 7px;
    width: 10vh;
    box-shadow: var(--box-shadow);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 30px;
}
button:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

h1 {
    color: var(--text-default);
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
}

::ng-deep mat-dialog-container {
    padding: 0% !important;
    border-radius: 20px !important;
    background: none;
}