<div class="justified" *ngIf="messageType === 0">
    <h1>{{ 'PASSWORD-PAGE.INPUT' | translate }}</h1>
    <input class="input" (keydown.enter)="submitPassword()" [(ngModel)]="password">
    <button class="button" type="submit" (click)="submitPassword()">{{ 'PASSWORD-PAGE.CONFIRM' | translate }}</button>
</div>
<div class="container justified" *ngIf="messageType !== 0">
    <h1 *ngIf="messageType === 1">{{ 'PASSWORD-PAGE.INCORRECT' | translate }}</h1>
    <h1 *ngIf="messageType === 2">{{ 'PASSWORD-PAGE.FULL' | translate }}</h1>
    <h1 *ngIf="messageType === 3">{{ 'PASSWORD-PAGE.MESSAGE' | translate }}</h1>
    <button class="button" type="submit" (click)="closeDialog()">Ok</button>
</div>
