<div class="justified" *ngIf="messageType === 0">
    <h1>Veuillez entrer le mot de passe pour cette salle</h1>
    <input class="input" [(ngModel)]="password">
    <button class="button" type="submit" (click)="submitPassword()">Confirmer</button>
</div>
<div class="container justified" *ngIf="messageType !== 0">
    <h1 *ngIf="messageType === 1">Le mot de passe entré est incorrect</h1>
    <h1 *ngIf="messageType === 2">La salle de jeu est pleine</h1>
    <h1 *ngIf="messageType === 3">Erreur : ce message ne devrait jamais s'afficher</h1>
    <button class="button" type="submit" (click)="closeDialog()">Ok</button>
</div>
