.container {
    margin-top: 80px;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: rgb(204, 224, 183);
    border-radius: 7px;
    width: 50vh;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(94, 94, 94);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button:hover {
    color: black;
    cursor: pointer;
    background: rgb(186, 204, 122);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
    padding: 60px;
}

.footer-item {
    position: absolute;
    text-align: center;
    bottom: 0;
}

.footer-item p :nth-child(even) {
    color: black;
}
.footer-item p :nth-child(odd) {
    color: grey;
}

.mode-buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cancel {
    background-color: #d3b1a7;
}

.cancel:hover {
    background: #ce8975;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.game-settings {
    display: flex;
    height: 40vh;
    width: 547px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.input-container {
    display: flex;
    margin-bottom: 2.5vh;
    justify-content: space-between;
}

.input {
    display: flex;
    width: 270px;
    padding: 7px;
    border-radius: 7px;
    border: 1px solid rgb(94, 94, 94);
}

input.input-container {
    align-items: right;
}

select.input {
    width: 270px;
}

#dictionaries.input {
    width: 286px;
}

#default-option {
    color: gray;
}

#game-difficulty {
    width: 286px;
}

#timer-box {
    display: flex;
    flex-wrap: wrap;
    width: 286px;
    height: 4vh;
    border-radius: 0.5vw;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    color: black;
}

#dec-button,
#inc-button {
    height: 4vh;
    width: 4vh;
    cursor: pointer;
    border: none;
    background-color: lightgrey;
}

#dec-button:hover,
#inc-button:hover {
    background-color: rgb(160, 160, 160);
}

#dec-button {
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
}

#inc-button {
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

#time-text {
    padding-left: 4vh;
    padding-right: 4vh;
}
