<app-navigation-bar></app-navigation-bar>
<div class="container justified">
    <div class="logo">Scrabble</div>
    <div class="game-settings">
        <h1 class="header-item text" style="font-size: 27px;">{{ 'CREATE-GAME.MESSAGE' | translate }}</h1>
        <div class="input-container">
            <span class="text-container text">{{ 'CREATE-GAME.ROOM' | translate }}</span>
            <input class="input" id="room-name" #roomName required />
        </div>
        <mat-radio-group class="input-container radio-btn" id="coop-group" aria-label="Select an option">
            <mat-radio-button class="text" [checked]="true" value="Classic"  (change)="getTypeButtonValue($event)">{{ 'CREATE-GAME.CLASSIC' | translate }}</mat-radio-button>
            <mat-radio-button class="text" value="Coop"  (change)="getTypeButtonValue($event)">{{ 'CREATE-GAME.COOP' | translate }}</mat-radio-button>
        </mat-radio-group>
        <mat-radio-group class="input-container radio-btn" aria-label="Select an option">
            <mat-radio-button class="text" [checked]="true" value="Public"  (change)="getVisibilityButtonValue($event)">{{ 'CREATE-GAME.PUBLIC' | translate }}</mat-radio-button>
            <mat-radio-button class="text" value="Private"  (change)="getVisibilityButtonValue($event)">{{ 'CREATE-GAME.PRIVATE' | translate }}</mat-radio-button>
            <mat-radio-button class="text" value="Protected"  (change)="getVisibilityButtonValue($event)">{{ 'CREATE-GAME.PROTECTED' | translate }}</mat-radio-button>
        </mat-radio-group>
        <div *ngIf="IsProtectedRoom " class="input-container">
            <span class="text-container text">{{ 'CREATE-GAME.PASSWORD' | translate }}</span>
            <input class="input" id="password-room" #passwordRoom />
        </div>
        <div class="mode-buttons">
            <button
                class="button text"
                id="createGame"
                (click)="checkMultiInput() ? createMultiRoom() : alertFalseInput()"
            >
            {{ 'CREATE-GAME.CREATE' | translate }}
            </button>
        </div>
    </div>
</div>
