.container {
    background-color: var(--background-default);
    height: 75.5%;
    padding: 5% 0% 4% 0%;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.text {
    color:var(--text-default);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 18px;
}

.button {
    text-decoration: none;
    margin-top: 10px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-primary);
    border-radius: 7px;
    width: 50vh;
    box-shadow: var(--box-shadow);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

#radio-btn {
    width: 72%;
}

mat-radio-button {
    margin-right: 10%;
}

.logo {
    margin-top: 1%;
    font-family: "Shrikhand";
    font-size: 95px;
    color: var(--text-default);
}

.mode-buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-settings {
    display: flex;
    height: 420px;
    width: 550px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-tertiary);
    padding: 3em 3em;
    border-radius: 11px;
    box-shadow: var(--box-shadow);
    margin-bottom: 2%;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 550px;
}

.input {
    border-radius: 5px;
    padding: 2%;
    flex-grow: 1;
    margin: 0% 0% 0% 5%;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 15px;
    background-color: var(--background-secondary);
    color: var(--button-text-default);
    height: 5%;
}

.input:focus {
    outline: none;
    border: solid 2px var(--accent-default);
}

#dictionaries.input {
    width: 286px;
}

#default-option {
    color: gray;
}

#game-difficulty {
    width: 286px;
}

#timer-box {
    display: flex;
    flex-wrap: wrap;
    width: 286px;
    height: 4vh;
    border-radius: 0.5vw;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    align-items: center;
    justify-content: space-between;
    color: black;
}

#dec-button,
#inc-button {
    height: 4vh;
    width: 4vh;
    cursor: pointer;
    border: none;
    background-color: lightgrey;
}

#dec-button:hover,
#inc-button:hover {
    background-color: rgb(160, 160, 160);
}

#dec-button {
    border-top-left-radius: 0.5vw;
    border-bottom-left-radius: 0.5vw;
}

#inc-button {
    border-top-right-radius: 0.5vw;
    border-bottom-right-radius: 0.5vw;
}

#time-text {
    padding-left: 4vh;
    padding-right: 4vh;
}
