.container{
    height: 86%;
    width: 100%;
    border-radius: 11px;
    margin-top: 7vh;
    padding:3em;
    background-color: var(--background-tertiary);
    display:flex;
    flex-direction:column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: var(--box-shadow);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 5%;
    color: var(--text-secondary);
}

mat-label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--text-default);
}

input {
    color: var(--text-default);
}

.logo {
    width: 400px;
    height: 100px;
    margin-top: 12%;
    font-family: "Shrikhand";
    font-size: 85px;
    color: var(--text-default);
}

.form {
    padding : 1em;
    height: 30%;
    
    gap: 14px;
    display:flex;
    flex-direction:column;
    align-items: center;
}

.input-field{  
    min-width: 300px;
    max-width: 500px;
    font-size: 18px;
    
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--input-highlight) inset !important;
    -webkit-text-fill-color: var(--text-default);
}

.button-login{
    width: 200px;
    position:relative;
    top : 20%;
}

a {
    margin-top: 5vh;
    color: var(--text-secondary);
}

.button-login {
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-primary);
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button-login:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.status-connection{
    border:solid red 1px;
    width:200px;
    height: 20px;
}