#zoom-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#holder-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#letter-holder-container {
    padding: 10px;
    margin: 5px 50px 15px 50px;
    border-radius: 10px;
    background-color: var(--background-quaternary);
    box-shadow: var(--box-shadow);
}

.button {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-tertiary);
    border-radius: 7px;
    width: 150px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: var(--box-shadow);
    color: var(--button-text-default);
}
.button:disabled,
.button[disabled] {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-tertiary);
    border-radius: 7px;
    width: 150px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: var(--box-shadow);
    color: var(--button-text-default);
}

.button:hover:enabled {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-tertiary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}
