<div id="zoom-holder">
    <div id="holder-buttons-container" (click)="$event.stopPropagation()">
        <button class="button" id="cancelButton" *ngIf="makingSelection" (click)="cancelSelection()">
            {{'LETTERHOLDER.CANCEL' | translate}}
        </button>
        <button
            class="button"
            id="swapButton"
            *ngIf="makingSelection"
            (click)="swapLetters()"
            [disabled]="isDisabled() || notEnoughLettersLeft"
        >
            {{'LETTERHOLDER.REPLACE' | translate}}
        </button>
        <button *ngIf="!isObserver() && !makingSelection" class="button" id="clueButton" (click)="requestClue()" [disabled]="isDisabled()">{{'LETTERHOLDER.HINT' | translate}}</button>
        <div cdkDropList 
        cdkDropListSortingDisabled="true"
        cdkDropListAutoScrollDisabled = "true"
         [cdkDropListData]="playerHand"id="rack" >
            <div cdkDrag (cdkDragStarted) = "cancelManipulationAndSelection($event)"
            (contextmenu)="clickInside($event,indexOfelement)"
            (click)="clickInside($event,indexOfelement)"
            (click)="isReceiver()"
            (contextmenu)="isReceiver()"
            (keypress)="onKeyDown($event)" [cdkDragDisabled]="isDraggingMode() || isObserver() || isDisabled()" 
            [cdkDragData]="tile" *ngFor="let tile of playerHand;let indexOfelement=index"
                        
            [ngClass]="{'red': listTileSelected[indexOfelement+1],'green':listTileManipulated[indexOfelement+1]}"class="tile" >
                <h1 id="letter">{{getLetterIfNotBlank(tile)}}</h1>
                <h1 id="point">{{getPointIfNotBlank(playerHandPoints[indexOfelement])}}</h1>
                <div class = "tile-preview" *cdkDragPreview>
                    <h1 id="letter">{{getLetterIfNotBlank(tile)}}</h1>
                    <h1 id="point">{{getPointIfNotBlank(playerHandPoints[indexOfelement])}}</h1>
                </div>
                <div class = "placeholder-invisible"  *cdkDragPlaceholder >
                </div>
            </div>
        </div>
        <button *ngIf="!isObserver()" id="playButton" class="button" [disabled]="isDisabled()" (click)="sendWord()">{{'LETTERHOLDER.PLAY' | translate}}</button>
        <button *ngIf="!isObserver()" class="button" id="skipButton" (click)="skipTurn()" [disabled]="isDisabled()">{{'LETTERHOLDER.PASS' | translate}}</button>
        <button *ngIf="isObserver()" class="button" id="swapPlayerButton" (click)="switchObserverView()">{{'LETTERHOLDER.SWITCH' | translate}}</button>
    </div>
</div>
