<div id="zoom-holder">
    <div id="holder-buttons-container" (click)="$event.stopPropagation()">
        <button class="button" id="cancelButton" [style.visibility]="makingSelection ? 'visible' : 'hidden'" (click)="cancelSelection()">
            Annuler
        </button>
        <button
            class="button"
            id="swapButton"
            [style.visibility]="makingSelection ? 'visible' : 'hidden'"
            (click)="swapLetters()"
            [disabled]="isDisabled || notEnoughLettersLeft"
        >
            Échanger
        </button>

        <div cdkDropList [cdkDropListData]="playerHand"id="rack" >
            <div cdkDrag (cdkDragStarted) = "cancelManipulationAndSelection($event)"
            (contextmenu)="clickInside($event,indexOfelement)"
            (click)="clickInside($event,indexOfelement)"
            (click)="isReceiver()"
            (contextmenu)="isReceiver()"
            (keypress)="onKeyDown($event)" [cdkDragDisabled]="isDraggingMode() || tile === 'blank' " 
            [cdkDragData]="tile" *ngFor="let tile of playerHand;let indexOfelement=index"
                        
            [ngClass]="{'red': listTileSelected[indexOfelement+1],'green':listTileManipulated[indexOfelement+1]}"class="tile" >
                <h1 id="letter">{{getLetterIfNotBlank(tile)}}</h1>
                <h1 id="point">{{getPointIfNotBlank(playerHandPoints[indexOfelement])}}</h1>
            </div>
        </div>
        <button id="playButton" class="button" [disabled]="isDisabled" (click)="sendWord()">Jouer</button>
        <button class="button" id="skipButton" (click)="skipTurn()" [disabled]="isDisabled">Passer</button>
    </div>
</div>
