#zoom-holder {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rack {
    padding: 10px;
    margin: 5px 50px 15px 50px;
    border-radius: 10px;
    background-color: #faf5f1;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    width: 480px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tile:hover {
    cursor: pointer;
}
.green {
    background-color: green;
}

#letter {
    font-size: 27px;
    margin: 0px;
    text-align: center;
    font-family: 'Courrier New';
}

#point {
    font-size: 17px;
    margin: 0px;
    position: relative;
    text-align: end;
    font-family: 'Courrier New';
}

.tile {
    position: relative;
    width: 60px;
    height: 60px;
    background-color: #ece7dd;
    display: grid;
    text-align: center;
    gap: 0px;
}

.red {
    background-color: rgba(255, 0, 0, 0.3);
}

.green {
    background-color: rgba(75, 186, 52, 0.3);
}
#holder-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#letter-holder-container {
    padding: 10px;
    margin: 5px 50px 15px 50px;
    border-radius: 10px;
    background-color: var(--background-quaternary);
    box-shadow: var(--box-shadow);
}

.button {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-tertiary);
    border-radius: 7px;
    width: 150px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: var(--box-shadow);
    color: var(--button-text-default);
}
.button:disabled,
.button[disabled] {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-tertiary);
    border-radius: 7px;
    width: 150px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: var(--box-shadow);
    color: var(--button-text-default);
}

#swapPlayerButton {
    width: 250px;
    margin-right: 80px;
}

.button:hover:enabled {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-tertiary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}
