#zoom-holder {
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/** ceci ne marche pas*/
.placeholder-invisible {
    background-color: red !important;
    width:0px;
    height:0px;
    opacity: 0
}
  

#rack {
    padding: 10px;
    margin: 5px 50px 15px 50px;
    border-radius: 10px;
    width:430px;
    height:60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.tile:hover {
    cursor: pointer;
}
.green {
    background-color: green;
}

#letter {
    font-size: 28px;
    margin: 0px;
    text-align: center;
    font-weight: bold;
    font-family: "Courier";
    position: absolute;
    top: 3.27px;
    left: 13.24px;
    vertical-align: text-bottom;
}


.tile-preview {
    height:49px;
    width:49px;
    text-align: center;
    gap: 0px;
    position: relative;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    background: var(--tile-on-holder);
    box-shadow: var(--box-shadow);
    color: var(--button-text-default);
    opacity: 100%;
 }

#point{
    font-size: 18px;
    margin: 0px;
    position: absolute;
    left: 30px;
    font-family: "Courier";
    font-weight: bold;
    top: 19.8px;
    vertical-align: text-top;
}

.tile {
    position: relative;
    height:49px;
    width:49px;
    background: var(--tile-on-holder);
    box-shadow: var(--box-shadow);
    display:grid;
    text-align: center;
    gap: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    color: var(--button-text-default);
}

.red {
    background-color: rgba(255, 0, 0, 0.3);
}

.green {
    background-color: rgba(75, 186, 52, 0.3);
}
#holder-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#rack {
    padding: 10px;
    margin: 5px 50px 15px 50px;
    border-radius: 10px;
    background-color: var(--background-quaternary);
    box-shadow: var(--box-shadow);
}

.button {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-tertiary);
    border-radius: 7px;
    width: 150px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: var(--box-shadow);
    color: var(--button-text-default);
}
.button:disabled,
.button[disabled] {
    margin: 10px;
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-tertiary);
    border-radius: 7px;
    width: 150px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: var(--box-shadow);
    color: var(--button-text-default);
}

#swapPlayerButton {
    width: 250px;
    margin-right: 80px;
}

#clueButton{
    margin-left: 180px;
}

.button:hover:enabled {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-tertiary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}
