<div id="wrapper">
    <div class="container">
        
        <section class="side-components">
            <div class="logo">Scrabble</div>
            <app-info-panel></app-info-panel>
            <!--<button (click)="this.showPortal = true">open</button>-->
            <app-window *ngIf="showPortal">
                <p>hi</p>
                <h2>Hello world from amother window!!</h2>
                <button (click)="this.showPortal = false">Close me!</button>
            </app-window>
        </section>
        
        <app-play-area class="play-area" tabindex="0" [receiver]="isReceiver"></app-play-area>

        <section class="side-components">
            <button *ngIf="!endGame; else other_content" (click)="alert()" class="button" id="abandonner">{{'GIVEUP.GIVEUP' | translate}}</button>
            <app-language></app-language>
            <ng-template #other_content><button class="button" (click)="goHome()" id="quitter">{{'GIVEUP.QUIT' | translate}}</button></ng-template>
            
            <button class="open-button" (click)="toggle()">C  h  a  t</button>

            <div class="chat-popup" id="myChat">
                <form action="/action_page.php">
                    <app-chat id="chatBox" (receiver)="setReceiver($event)"></app-chat>
                </form>
            </div>

            <div class="ghost-chat"></div>
        </section>
    </div>
    <app-letter-holder id="letter-holder" (receiver)="setReceiver($event)"></app-letter-holder>
</div>
