.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#wrapper {
    display: flex;
    overflow: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background-default);
    height: 100%;
}
app-play-area{
    width:800px;
    height: 800px;
}
.side-components {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo {
    width: 400px;
    margin-top: 12%;
    margin-bottom: 5%;
    font-family: "Shrikhand";
    font-size: 85px;
    color: var(--text-default);
}

select {
    border-radius: 5px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    padding-top: 2px;
    padding-bottom: 2px; 
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    margin-top: 5%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ghost-chat  {
    height: 570px;
    width: 350px;
}

.font-size-container {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 380px;
    color: var(--text-default);
}

.font-size {
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 5px;
    background-color: var(--button-quaternary);
    border-radius: 7px;
    width: 40px;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.font-size:hover {
    color: var(---button-text-hover);
    cursor: pointer;
    background: var(--button-quaternary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.play-area {
    margin: 0% 5% 0.4% 5%;
    outline: none;
}

#abandonner, #quitter{
    margin-bottom: 8%;
}

.button {
    text-decoration: none;
    margin-top: 10%;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-secondary);
    border-radius: 7px;
    width: 150px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button:hover {
    color: var(---button-text-hover);
    cursor: pointer;
    background: var(--button-secondary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

#letter-holder {
    margin-top: 0.6%;
    margin-bottom: 0.6%;
}

img {
    margin-top: 6%;
}

body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    text-align: center;
    border: none;
    padding: 10px;
    width: 180px;
    height: 40px;
    background: var(--button-primary);
    box-shadow: var(--box-shadow);
    z-index:15;
    border-radius: 7px 7px 0px 0px;
    transform: rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
    transform-origin: bottom right;
    position: fixed;
    right: 0px;
    bottom: 60%;
}

.open-button:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

/* The popup chat - hidden by default */
.chat-popup {
    display: none;
    position: fixed;
    bottom: 195px;
    right: 55px;
    z-index: 9;
}

.state-history {
    background-color: var(--background-quaternary);
    box-shadow: var(--box-shadow);
    position: fixed;
    bottom: 195px;
    right: 55px;
    z-index: 8;
    margin: 0px 15px;
    width: 390px;
    height: 540px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#history-container {
    white-space: pre-wrap;
    overflow: auto;
    margin-top: 18.5px;
    height: 100%;
    background-color: var(--background-secondary);
    border-radius: 7px;
    word-wrap: break-word;
    width: 100%;
}

.centered-title {
    text-align: center;
    font-size: 24px;
    color: var(--text-default);
    margin-bottom: 12px;
}

.action {
    color: var(--text-default);
    list-style-type: none;
    padding: 0% 5%;
    margin: 15px 1px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--scroll-default);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}
