<div id="wrapper" cdkDropListGroup>
    <div class="container">
        
        <section class="side-components">
            <div class="logo">Scrabble</div>
            <app-info-panel></app-info-panel>
            <!--<button (click)="this.showPortal = true">open</button>-->
            <app-window *ngIf="showPortal">
                <p>hi</p>
                <h2>Hello world from amother window!!</h2>
                <button (click)="this.showPortal = false">Close me!</button>
            </app-window>
        </section>
        
        <app-play-area class="play-area" tabindex="0" [receiver]="isReceiver"></app-play-area>

        <section class="side-components" id="abandon-langage">
            <button *ngIf="!endGame && !isObserver(); else other_content" (click)="alert()" class="button" id="abandonner">{{'GIVEUP.GIVEUP' | translate}}</button>
            <app-language></app-language>
            <ng-template #other_content><button class="button" (click)="goHome()" id="quitter">{{'GIVEUP.QUIT' | translate}}</button></ng-template>
            
            <button class="open-button" [hidden]="isPopupOpen()" (click)="toggle()">{{chatDisplay ? "A c t i o n" : "C  h  a  t"}}</button>

            <div class="state-history">
                <p class="centered-title">{{'ACTION-HISTORY.TITLE' | translate}}</p>
                <div id="history-container">
                    <div *ngFor="let action of actionHistory; let i = index" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <ul class="action">
                            <div *ngIf="action.messageType !== 'MSG-CLUE'">{{formatActionInList((('ACTION-HISTORY.' + action.messageType) | translate), action.values, action.messageType)}}</div>
                            <div *ngIf="hasPendingAction && isLatestProposedAction(i)" id="action-button-container">
                                <button  class="button action-btn" (click)="answerPendingAction(true)">Accept</button>
                                <button  class="button action-btn" (click)="answerPendingAction(false)">Refuse</button>
                            </div>
                            <div *ngIf="action.messageType === 'MSG-CLUE'">
                                <div *ngIf="action.values.length > 0">{{'ACTION-HISTORY.MSG-CLUE' | translate}}</div>
                                <div *ngIf="action.values.length === 0">{{'ACTION-HISTORY.MSG-CLUE' | translate}}</div>
                                <div *ngFor="let hint of action.values" (click)="playHint(hint)">
                                    <a class="hint">{{hint.substring(hint.indexOf(' ')+1)}}<br/></a>
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="chat-popup" id="myChat" [hidden]="isPopupOpen() || !chatDisplay">
                <form action="/action_page.php">
                    <app-chat id="chatBox" (receiver)="setReceiver($event)"></app-chat>
                </form>
            </div>
            <div class="ghost-chat"></div>
        </section>
    </div>
    <app-letter-holder id="letter-holder" (receiver)="setReceiver($event)"></app-letter-holder>
</div>
