<div class="container">
    <h1 class="title">Mot de passe oublié</h1>
    <form  *ngIf = !isQuestionAnswered class="form">
        <mat-form-field class="password input-field" appearance="fill">
            <mat-label>username: </mat-label>
            <input matInput name = "password" [(ngModel)] = "username">
        </mat-form-field>
        <div class="question-reset-password">
        
        </div>
        <button (click)= "generateQuestion()"class = "button-change-password" mat-raised-button>Générer la question personnelle</button>
</form>
    <form  *ngIf = isQuestionAnswered class="form">
            <mat-form-field class="password input-field" appearance="fill">
                <mat-label>{{questionReset}}: </mat-label>
                <input matInput name = "password" [(ngModel)] = "answerReset">
            </mat-form-field>
            <mat-form-field class="password input-field" appearance="fill">
                <mat-label>Nouveau mot de passe : </mat-label>
                <input matInput name = "password" [(ngModel)] = "newPassword">
            </mat-form-field>
              <button (click)= "changePassword()"class = "button-change-password" mat-raised-button>Changer le mot de passe</button>
    </form>
    </div>   
