<div class="container justified">
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <h1 class="header-item">Rejoindre une partie multijoueur pour le mode {{ gameType }}</h1>
    <div class="content-wrapper">
        <div class="table-wrapper">
            <div class="waiting-rooms">
                <div class="waiting-rooms-information">
                    <table>
                        <tr>
                            <th class="room-information">Nom de l'hôte</th>
                            <th class="room-information">Nom de la salle</th>
                            <th class="room-information">Temps par tour</th>
                        </tr>
                    </table>
                </div>
                <div class="waiting-players">
                    <div class="noGameFound" *ngIf="!waitingRooms.length">
                        <p>Aucune partie multijoueur n'est disponible.</p>
                    </div>
                    <div *ngIf="waitingRooms.length">
                        <div *ngFor="let waitingRoom of waitingRooms">
                            <div class="waiting-player">
                                <div id="game-option">
                                    <div id="player-name-cell">
                                        <div id="player-name">
                                            {{ waitingRoom.hostName }}
                                        </div>
                                    </div>
                                </div>
                                <div id="game-option">
                                    <div id="room-name-cell">
                                        <div id="room-name">
                                            {{ waitingRoom.roomName }}
                                        </div>
                                    </div>
                                </div>
                                <div id="game-option">
                                    <div id="room-timer-cell">
                                        <div id="room-timer">
                                            {{ waitingRoom.timer.minute + ':' + (waitingRoom.timer.second | number: '2.0-0') }}
                                        </div>
                                    </div>
                                </div>
                                <div id="join-cell">
                                    <button class="button join" (click)="sendRoomData(waitingRoom)">Rejoindre</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mode-buttons">
            <div *ngIf="waitingRooms.length > 1">
                <button class="button" (click)="placeRandomly()">Placement aléatoire</button>
            </div>
            <div *ngIf="waitingRooms.length === 1">
                <button class="inactive-button">Placement aléatoire</button>
            </div>
        </div>
        <div class="mode-buttons">
            <button class="button cancel" routerLink="/home">Retourner au menu principal</button>
        </div>
    </div>
    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>
            <span>Ioana Daria Danciu</span>, <span>Arnaud Delage-Reid</span>, <span>Manuel Ramirez-Evrard</span>, <span>Kaboungala Bintou Seni</span>,
            <span>Pablo Sepulveda Solis</span>, <span>Imane Znadi</span>
        </p>
    </div>
</div>
