<app-navigation-bar></app-navigation-bar>
<div class="container justified">
    <div class="logo">Scrabble</div>
    <h1 class="header-item text">{{ 'JOIN-GAME.MESSAGE' | translate }}</h1>
    <div class="content-wrapper">
        <div class="table-wrapper">
            <div class="waiting-rooms">
                    <table class="waiting-rooms-information">
                        <tr>
                            <th class="room-information text">{{ 'JOIN-GAME.HOST' | translate }}</th>
                            <th class="room-information text">{{ 'JOIN-GAME.ROOM' | translate }}</th>
                            <th class="room-information text">{{ 'JOIN-GAME.VISIBILITY' | translate }}</th>
                            <th class="room-information text">{{ 'JOIN-GAME.PLAYERS' | translate }}</th>
                            <th class="room-information text">{{ 'JOIN-GAME.OBSERVERS' | translate }}</th>
                            <th class="room-information text">{{ 'JOIN-GAME.GAME-TYPE' | translate }}</th>
                            <th class="room-information text">{{ 'JOIN-GAME.STATUS' | translate }}</th>
                        </tr>
                    </table>
                <div class="waiting-players">
                    <div class="noGameFound text" *ngIf="!waitingRooms.length">
                        <p>{{ 'JOIN-GAME.UNAVAILABLE' | translate }}</p>
                    </div>
                    <div *ngIf="waitingRooms.length">
                        <div *ngFor="let waitingRoom of waitingRooms">
                            <div class="waiting-player">
                                <div class="game-option">
                                    <div id="player-name-cell">
                                        <div id="player-name" class="text">
                                            {{ waitingRoom.players[0]
                                            }}
                                        </div>
                                    </div>
                                </div>
                                <div class="game-option">
                                    <div id="room-name-cell">
                                        <div id="room-name" class="text">
                                            {{ waitingRoom.name }}
                                        </div>
                                    </div>
                                </div>
                                <div class="game-option">
                                    <div id="room-visibility-cell">
                                        <div id="room-timer" class="text"> 
                                            {{ waitingRoom.visibility }}
                                        </div>
                                    </div>
                                </div>
                                <div class="game-option">
                                    <div id="room-length-cell">
                                        <div id="room-timer" class="text">
                                            {{ waitingRoom.players.length + "/4" }}
                                        </div>
                                    </div>
                                </div>
                                <div class="game-option">
                                    <div id="room-observers-cell">
                                        <div id="room-observers" class="text">
                                            {{ waitingRoom.nbObservers}}
                                        </div>
                                    </div>
                                </div>
                                <div class="game-option">
                                    <div id="room-type-cell">
                                        <div id="room-type" class="text">
                                            {{ (waitingRoom.isCoop ? 'JOIN-GAME.COOP' : 'JOIN-GAME.CLASSIC') | translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="game-option">
                                    <div id="room-status-cell">
                                        <div id="room-timer" class="text" *ngIf="waitingRoom.isStarted">
                                           {{ 'JOIN-GAME.BEGAN' | translate }}
                                        </div>
                                        <div id="room-timer" class="text" *ngIf="!waitingRoom.isStarted">
                                           {{ 'JOIN-GAME.WAIT' | translate }}
                                        </div>
                                    </div>
                                </div>
                                <div class="cell-btn">
                                    <button class="button join text" [style.visibility]="(waitingRoom.players.length >= 4 || waitingRoom.isStarted) ? 'hidden' : 'visible'" (click)="joinGame(waitingRoom, false)">{{ 'JOIN-GAME.JOIN' | translate }}</button>
                                    <button class="button join text" (click)="joinGame(waitingRoom, true)">{{ 'JOIN-GAME.OBSERVE' | translate }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
