.container {
    margin-top: 80px;
}

.justified {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button, .inactive-button {
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: rgb(204, 224, 183);
    border-radius: 7px;
    width: 50vh;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(94, 94, 94);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button:hover {
    color: black;
    cursor: pointer;
    background: rgb(186, 204, 122);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.inactive-button:hover  {
    background-color: rgb(204, 224, 183);
}
.button:disabled:hover .button:disabled {
    background: rgb(186, 204, 122);
    box-shadow: inset 0px 0px 8px #c1c1c1;
    outline: none;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    color: green;
}

.header-item {
    justify-content: center;
    text-align: center;
    padding: 100px;
}

.mode-buttons {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cancel {
    background-color: #d3b1a7;
}

.cancel:hover:enabled {
    background: #ce8975;
    transition-property: background-color;
    transition-duration: 0.2s;
}

.join {
    background-color: rgb(204, 224, 183);
    margin-top: 0px;
    border-width: 0.5vh;
    height: 3.75vh;
    width: max-content;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Tahoma';
    font-size: 2vh;
    font-weight: 700;
    height: 5vh;
}

table{
    padding: 0%;
}

.table-wrapper {
    margin-top: -75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.created-games {
    border-width: 0.2vw;
    border-color: white;
    border-style: solid;
    width: 40vw;
    overflow: hidden;
}

.room-information {
    width: 10vw;
    font-size: 1.65vh;
    font-weight: 700;
    color: white;
    line-height: 3.5vh;
}

.waiting-rooms-information {
    display: flex;
    background-color: #1f2029;
    width: auto;
    height: max-content;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-width: 0.2vw;
}

.waiting-players {
    overflow-y: auto;
    overflow-x: hidden;
    height: 25vh;
    width: auto;
}

.noGameFound {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 10vh;
    font-size: 1.65vh;
}

.waiting-player {
    background: #979797;
    height: 5vh;
    width: auto;
    display: flex;
    align-items: center;
    border-width: 0.15vh;
    border-color: black;
    border-style: solid;
    margin: 0.25vh 0;
    color: white;
    font-family: 'Tahoma';
    font-size: 1.7vh;
}

.game-option {
    display: flex;
    justify-content: space-evenly;
    width: 10vw;
}

.cell-btn {
    width: 7.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0;
}
