<app-navigation-bar></app-navigation-bar>
<div class="container justified">
    <div class="logo">Scrabble</div>
    <div id="button-container">
        <section id="game-modes" class="justified">
            <p class="paragraph">{{'HOMEPAGE.MESSAGE' | translate}}</p>
            <button class="button" routerLink="/solo-multi" (click)="setScrabbleMode(gameTypeEnum.CLASSIC)">{{ 'HOMEPAGE.CLASSIC' | translate }}</button>
            <button class="button" routerLink="/solo-multi" (click)="setScrabbleMode(gameTypeEnum.LOG2990)">{{ 'HOMEPAGE.TOURNAMENT' | translate }} (LOG2990)</button>
            <button class="button" (click)="openScores()">{{ 'HOMEPAGE.COLLABORATIVE' | translate }} (scores)</button>
        </section>
    </div>
</div>