
.container {
    height: 94vh;
    font-size: 18px;
    background-color: var(--background-default);
}

.lang {
    margin-top: 5%;
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-default);
}

.paragraph {
    font-family: 'Courier New', Courier, monospace;
    color: var(--text-default);
    font-weight: bold;
}

img {
    margin-top: 6%;
}

.button {
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-primary);
    border-radius: 7px;
    width: 50vh;
    box-shadow: var(--box-shadow);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.logo {
    margin-top: 8%;
    font-family: "Shrikhand";
    font-size: 95px;
    color: var(--text-default);
}

#button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
}

.justified {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 20%;
}

#server-message {
    margin-top: 50px;
}

.leaderboard-container {
    width: 30%;
    height: 500px;
    margin-top: 5vh;
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    flex-direction: column;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 16px;
}
