<app-navigation-bar></app-navigation-bar>
<div class="container justified">
    <div class="logo">Scrabble</div>
    <div id="button-container">
        <section id="game-modes" class="justified">
            <p class="paragraph">{{'HOMEPAGE.MESSAGE' | translate}}</p>
            <button class="button" routerLink="/solo-multi">{{ 'HOMEPAGE.CLASSIC' | translate }}</button>
            <button class="button" routerLink="/tournament-queue">{{ 'HOMEPAGE.TOURNAMENT' | translate }}</button>
        </section>
    </div>
</div>