ul {
    list-style-type: none;
    padding: 0% 5%;
    margin: 15px 1px;
}

#title-chat {
    font-size: 24px;
}

.input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

input {
    border-radius: 5px;
    padding: 2%;
    flex-grow: 1;
    margin-right: 5%;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 15px;
    background-color: var(--background-secondary);
}

input:focus {
    outline: none;
    border: solid 2px var(--accent-default);
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-default);
    color: var(--text-default);
}

#title-chat {
    text-align: center;
}

#chat-box {
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 15px;
    border-radius: 10px;
    height: 500px;
    background-color: var(--background-secondary);
    width: 350px;
    flex-direction: column;
    box-shadow: var(--box-shadow);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 14px;
}

#history-container {
    white-space: pre-wrap;
    overflow: auto;
    height: 80%;
    background-color: var(--background-secondary);
    border-radius: 7px;
    word-wrap: break-word;
    width: 100%;
}

#chat-box {
    width: 350px;
    height: 500px;
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-quaternary);
    flex-direction: column;
    box-shadow: var(--box-shadow);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 16px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 20px;
    background: var(--scroll-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: var(--scroll-default);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}
