<section id="chat-list">

</section>
<section id="chat-messages">
    <div id="chat-box" (click)="isReceiver()">
        <p id="title-chat">{{'CHATBOX.CHATBOX' | translate}}</p><!--<button (click)="goToLink()">chat</button>-->
        <div id="history-container" #scrollMe [scrollTop]="scrollMe.scrollHeight">
            <div *ngFor="let message of messageHistory">
                <ul >
                    <img class = "avatar" src = "assets/avatar/{{message.avatar}}" height="20" width="20">
                    <div class = "message">{{ message.username }} : {{ message.message }}</div>
                </ul>
            </div>
        </div>

        <div class="input-group">
            <input
                type="text"
                required
                [(ngModel)]="message.body"
                placeholder="Tapez une commande."
                minlength="1"
                maxlength="512"
                (keyup.enter)="sendMessage()"
                autofocus
            />
            <button (click)="sendMessage()">{{'CHATBOX.SEND' | translate}}</button>
        </div>
    </div>
</section>
