<div id="container"   (cdkDropListDropped)="slideLetterToCanvas($event)" cdkDropListSortingDisabled="true" cdkDropList> 
    <canvas id="canvas"  (click)="mouseHitDetect($event)" #gridCanvas [attr.width]="width" [attr.height]="height"></canvas>
    <div class="tile" *ngFor="let field of fields; let i = index" cdkDrag
    (cdkDragDropped)="changePosition($event,field)"
    (cdkDragEnded)="dragEnded($event,field)"
    style="position:absolute" [style.top] = "field.top" [style.left] = "field.left">
    <h1 class="letter">{{field.text.toUpperCase()}}</h1>
    <h1 class="point">{{getPointIfNotBlank(field.text)}}</h1>
    <div class = "tile-preview" *cdkDragPreview>
        <h1 class="letter">{{field.text.toUpperCase()}}</h1>
        <h1 class="point">{{getPointIfNotBlank(field.text)}}</h1>
    </div>
</div>
</div>
