<app-navigation-bar></app-navigation-bar>
<div class="container">
    <h1 class="text">{{ 'PUBLIC-CHATS.MESSAGE' | translate }}</h1>
    <div id="chats-container">
        <div class="chat-container" *ngFor="let chat of chatList">
            <span class="chat text">{{ chat.chatName }}</span>
            <div class="button-container">
                <button>{{ 'PUBLIC-CHATS.JOIN' | translate }}</button>
                <button (click)="alert()">{{ 'PUBLIC-CHATS.LEAVE' | translate }}</button>
            </div>
        </div>
    </div>
</div>