<div id="nav-bar">
    <app-language></app-language>
    <div id="buttons">
        <p class="button" routerLink="/home" (click)="callNavLogic()">{{ 'NAVBAR.HOME' | translate }}</p>
        <p class="button" routerLink="/profile-page" (click)="callNavLogic()">{{ 'NAVBAR.PROFILE' | translate }}</p>
        <p class="button" routerLink="/chat" (click)="callNavLogic()">{{ 'NAVBAR.CHAT' | translate }}</p>
        <p class="button" (click) = "disconnectUser()"routerLink="/login">{{ 'NAVBAR.SIGNOUT' | translate }}</p>
    </div> 
</div>
