*{
    font-family: 'Courier New', Courier, monospace;
    font-size:17px;
    color: var(--text-default);
}

.title-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    align-self: center;
}

.tabs {
    width: 100px;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    border: none;
    padding: 1px;
    background-color: var(--button-primary);
    border-radius: 7px;
    //box-shadow: var(--box-shadow);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.tabs:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.auto-scroll{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width:50%;
    margin-bottom: 5px;
}

.scroll-button{
    margin-top:2%;
    
}


#former-actions{
    display: flex;
    height: 100%;
    flex-direction: column;
    background: var(--playarea-letterx3);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

mat-card-content{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.title {
    align-self: center;
    font-weight: bolder;
    font-size: 20px;
    margin: 0px 20px 10px 0px;
    white-space: nowrap;
}

#data-list {
    background-color: var(--background-tertiary);
    border-radius: 7px;
    padding: 10px 30px;
    width: 100%;
}

#table-container {
    height: 200px;
    overflow: auto;
    border-radius: 10px;
    background-color: var(--background-tertiary);
}

th, td {
    text-align: center;
    padding-bottom: 6px;
}

::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 8px;
    background: var(--scroll-background);
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: var(--scroll-default);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scroll-hover);
}
