<app-navigation-bar></app-navigation-bar>
<div class="container justified">
    <app-language></app-language>
    <div id="themes">
        {{'CHANGETHEME.MESSAGE' | translate}} : 
        <button class="theme-button" id="classic" (click)="changeThemeTo('classic')" (click)="setActive($event)">{{ 'CHANGETHEME.CLASSIC' | translate }}</button> 
        <button class="theme-button" id="inverted" (click)="changeThemeTo('inverted')" (click)="setActive($event)">{{ 'CHANGETHEME.INVERTED' | translate }}</button> 
    </div>
    
</div>
