*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    color: var(--text-default);
}

.box {
    background: var(--playarea-letterx3);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}
//ma partie
.profileAvatarNameLevel{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    position: relative;
    height: 25%;
    padding: 10px;
    justify-content: space-around;
    margin-top: 2.2%;
}

.avatarSquare{
    width: 220px;
    height: 220px;
    position: relative;
    bottom: 0.2vh;
}

.avatarSection{
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content: center;
}

.medal {
    height: 80px;
    width: 80px;
}

#nameContainer{
    display:flex;
    flex-direction: row;
}

#tournamentMedals{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 30px;
    row-gap: 30px;
    align-items: center;
    justify-content: center;
    height: 110px;
    padding-top: 50px;
}

.numberOfMedals {
    font-size: 27px;
    color: var(--text-secondary);
}

.medals {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

#nameLevel{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    font-size: 32px;
    align-items: flex-start;
}

#id{
    display: flex;
}

#stats-and-former-actions{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    grid-gap: 30px;
    position: relative;
}

#stats{
    display: flex;
    height: 14vh;
    flex-direction: column;
}

.specific-stat{
    margin:0;
}

.progress-level {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 500px;
    white-space: nowrap;
    margin: 15px 0px;
}

#stats-list{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-tertiary);
    border-radius: 7px;
    width: 100%;
    padding: 10px 50px;
}

.title {
    font-weight: bold;
    font-size: 20px;
}

.stats {
    margin-bottom: 10px;
}

#name {
    font-size: 50px;
    font-family: 'Shrikhand';
    font-weight: lighter;
    margin: 10px 0px 25px;
}

.data {
    margin: 0px 15px 0px 0px;
}

.level {
    font-size: 25px;
}

.next {
    margin-left: 15px;
}

#id {
    font-size: 30px;
}

mat-card-header{
    align-self: center;
}

app-former-action-history-area{
    height: 23vh;
    position: relative;
    
}

app-connection-history-area{
    width: 30%;
}


#account-other-info{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 80%;
    justify-content: space-between;
    margin-top: 30px;
}

button:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-primary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

button {
    width: 185px;
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: var(--button-primary);
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.nameLevel{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.profileAvatarNameLevel{
    display:flex;
    position:relative;
    width:79%;
    height:25%;
    padding:10px;
}

#themes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    padding: 10px 30px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin: 28px 0px 0px;
    color: var(--text-default);
}

.theme {
    padding: 5px 0px;
}

.active {
    background-color: var(--button-primary-hover);
    color: var(--text-default);
}

.container {
    height: 94%;
    width: 100%;
    font-size: 18px;
    background-color: var(--background-default);
}

.justified {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
