*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
//ma partie
.avatarSquare{
    width:120px;
    height: 120px;
    position: relative;
    bottom: 1vh;
}
.profileAvatarNameLevel{
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    position: relative;
    width: 79%;
    height: 25%;
    padding: 10px;
    justify-content: space-around;
}

.avatarSection{
    display:flex;
    flex-direction: column;
    position:relative;
    align-items: center;
    justify-content: center;
}
#nameContainer{
    display:flex;
    flex-direction: row;
    
}

#changeName{

}
#tournamentMedals{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-around;
    width: 30%;
    height: 100%;
}

#nameLevel{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    font-size: 32px;
    align-items: flex-start;
}
#id{
    display: flex;
}
img {
    border-radius: 50%;
  }
#stats-and-former-actions{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    grid-gap: 30px;
    position: relative;

}
#stats{
    display: flex;
    height: 11.5vh;
    flex-direction: column;
    

}

.specific-stat{
    margin:0;
}

#stats-list{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
mat-card-header{
    align-self: center;
}

app-former-action-history-area{
    height: 23vh;
    position: relative;
    
}

app-connection-history-area{
    width: 30%;
}


#account-other-info{
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 80%;
    justify-content: space-between;
    margin-top: 30px;
}

.button:hover {
    color: black;
    cursor: pointer;
    background: rgb(186, 204, 122);
    transition-property: background-color;
    transition-duration: 0.2s;
}
.button {
    text-decoration: none;
    margin-top: 20px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: rgb(204, 224, 183);
    border-radius: 7px;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(94, 94, 94);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}
.nameLevel{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.profileAvatarNameLevel{
    display:flex;
    position:relative;
    width:79%;
    height:25%;
    padding:10px;
}

// fin de ma partie

#themes {
    width: 40%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5%;
    color: var(--text-default);
}

.theme-button {
    text-decoration: none;
    text-align: center;
    border: none;
    padding: 5px;
    margin-right: 2%;
    background-color: var(--button-quaternary);
    border-radius: 7px;
    width: max-content;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: var(--box-shadow);
    color: var(--button-text-default);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.theme-button:hover {
    color: var(--button-text-hover);
    cursor: pointer;
    background: var(--button-quaternary-hover);
    transition-property: background-color;
    transition-duration: 0.2s;
}

.active {
    background-color: var(--button-quaternary-hover);
    color: var(--text-default);
}

.container {
    height: 94%;
    width: 100%;
    font-size: 18px;
    background-color: var(--background-default);
}

.justified {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}
