<div class="container justified">
    <img src="https://bit.ly/3m206ss" width="400" height="80" alt="Logo Scrabble" />
    <h1 class="header-item">Configuration des paramètres de la partie</h1>
    <h2>{{message}}</h2>
    <div class="game-settings">
        <div *ngIf="verifyIfProtectedRoom()" class="input-container">
            <p>mot de passe de la salle :</p>
            <input class="input" placeholder="Saisir le mot de passe" maxlength="20" [(ngModel)]="password" >
        </div>
        <div class="mode-buttons">
            <button class="button" (click)="joinRoom()">Joindre la partie</button>
            <button class="button cancel" routerLink="/join-game">Retourner au menu précédent</button>
        </div>
    </div>
    <div class="footer-item">
        <h4 class="team-name">Équipe Poly</h4>
        <p>
            <span>Ioana Daria Danciu</span>, <span>Arnaud Delage-Reid</span>, <span>Manuel Ramirez-Evrard</span>, <span>Kaboungala Bintou Seni</span>,
            <span>Pablo Sepulveda Solis</span>, <span>Imane Znadi</span>
        </p>
    </div>
</div>
