<div class="modify dict">
    <button class="close" mat-button (click)="onNoClick()">X</button>
    <form *ngIf="originalValues.formType !== 'description'" class="modify-dict" (ngSubmit)="submitInput()">
        <label for="newName">Nouveau nom: </label><br>
        <input type="text" id="newName" name="newName" [(ngModel)]="newName" maxlength="30"><br>

        <label *ngIf="originalValues.formType !== 'virtualPlayer'" for="newDescription">Nouvelle description: </label><br *ngIf="originalValues.formType !== 'virtualPlayer'">
        <input *ngIf="originalValues.formType !== 'virtualPlayer'" type="text" id="newDescription" name="newDescription" [(ngModel)]="newDescription">

        <label *ngIf="originalValues.formType === 'virtualPlayer'" for="dictName">Niveau de difficulté: </label><br>
        <select *ngIf="originalValues.formType === 'virtualPlayer'" id="dropdown" (change)="getOption($event)">
            <option selected disabled hidden>choisir</option>
            <option value="débutant">débutant</option>
            <option value="expert">expert</option>
        </select>

        <input class="button submit" type="submit" value="confirmer" id="submit-btn"><br>
    </form>
    <div *ngIf="originalValues.formType === 'description'" class="description">
        <span class="message">Description</span><br>
        <span id="description">{{originalValues.dict.description}}</span>
    </div>
</div>
