.modify {
    display: flex;
    height: 280px;
    align-items: center;
    padding : 20px;
    border-radius: 10px;
    background-color: #e0d7d4;
    flex-direction: column;
    box-shadow:  
    0 1.8px 1.2px rgba(0, 0, 0, 0.096),
    0 5.7px 4.3px rgba(0, 0, 0, 0.103),
    0 8.5px 7px rgba(0, 0, 0, 0.11);
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: 16px;
}

.button {
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    border: none;
    padding: 10px;
    background-color: #d3b1a7;
    border-radius: 7px;
    width: 50vh;
    box-shadow: 0 1.8px 1.2px rgba(0, 0, 0, 0.096), 0 5.7px 4.3px rgba(0, 0, 0, 0.103), 0 8.5px 7px rgba(0, 0, 0, 0.11);
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(94, 94, 94);
    transition: color 0.5s linear;
    -webkit-transition: color 0.2s linear;
}

.button:hover:enabled {
    color: black;
    cursor: pointer;
    background: #ce8975;
    transition-property: background-color;
    transition-duration: 0.2s;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
    padding: 0% 2% 0% 2%;
    border-radius: 5px;
    border: none;
    height: 30px;
    width: 400px;
    
}

input:focus {
    outline: none !important;
    border-color: #ce8975;
    box-shadow: 0 0 10px #ce8975;
}

.modify-dict {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 277px;
}

.submit {
    line-height: 11px;
    width: 130px;
    margin: 2% 0% 0% 0%;
}

.message {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.close{
    float: right;
    top: 0px;
    right: -260px;
    //transition: 0.5s ease-in-out;
}

.close:hover {
    transform: rotate(180deg);
}

#dropdown {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 7px;
    border: none;
    width: 140px;
    margin-bottom: 28px;
}

#description {
    text-align: center;
}
