<app-navigation-bar></app-navigation-bar>
<div class="container">
    <h1 class="text">{{ 'FRIENDS-PAGE.MESSAGE' | translate }}</h1>
    <span class="text add">{{ 'FRIENDS-PAGE.SHARE' | translate }}{{ usercode }}</span><br>
    <span class="text add">{{ 'FRIENDS-PAGE.NEW' | translate }}</span>
    <div class="input-container">
        <span class="text">{{ 'FRIENDS-PAGE.INPUT' | translate }}</span>
        <input class="input" id="friendCode" (keydown.enter)="addFriend()"/>
        <button (click)="addFriend()">{{ 'FRIENDS-PAGE.ADD' | translate }}</button>
    </div>
    <div id="boxes-container">
        <div class="friends-container">
            <h2 class="text">{{ 'FRIENDS-PAGE.FRIENDS' | translate }}</h2>
            <div class="friend-container" *ngFor="let friend of friends">
                <span class="chat text name" (click)="goToProfile(friend.username)">{{ friend.username }}</span>
                <!--<button (click)="alert()">{{ 'FRIENDS-PAGE.UNFRIEND' | translate }}</button>-->
                <!--<button (click)="openChat(friend)">Chat</button>-->
                <button>Chat</button>
            </div>
        </div>
    </div>
</div>

